* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

img {
    width: 80%;
    height: auto;
    border-radius: 50%;
}
#img_details {
    width: 25%;
    height: auto;
    border-radius: 50%;
}
